<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.kriszt.theo.remindwear">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/> -->
    <!-- TODO : reschedule after restart ? -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".TasksActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NotificationTestingActivity"
            android:label="Notificator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.EditTaskActivity" />
        <activity android:name=".ui.activities.AddTaskActivity" />

        <!-- <receiver android:name=".jobs.RebootReceiver" android:enabled="true" android:exported="false" android:permission="android.permission.RECEIVE_BOOT_COMPLETED"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.BOOT_COMPLETED" /> -->
        <!-- <category android:name="android.intent.category.HOME" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!-- <receiver -->
        <!-- android:name=".jobs.AddReceiver" -->
        <!-- android:exported="false"> -->
        <!-- &lt;!&ndash; Creation du singleton createur de jobs au démarrage de l'appli &ndash;&gt; -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.evernote.android.job.ADD_JOB_CREATOR"/> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!-- <service -->
        <!-- android:name=".utils.SchedulerJobService" -->
        <!-- android:label="Scheduler service" -->
        <!-- android:permission="android.permission.BIND_JOB_SERVICE" > -->
        <!-- </service> -->

        <activity
            android:name=".ui.activities.AddCategoryActivity"
            android:label="@string/title_activity_add_category"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.activities.EditCategoryActivity" />
        <activity android:name=".ui.activities.SportDetailsActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

    </application>

</manifest>